.about {
  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 15%;
  }
  h4 {
    font-size: 2.25rem;
    color: #207dff;
    font-weight: 600;
  }
  p {
    font-size: 17px;
  }
  img {
    width: 35%;
  }
}
@media only screen and (max-width: 768px) {
  .about {
    &__wrapper {
      flex-direction: column-reverse;
      row-gap: 2rem;
    }
    img {
      width: 70%;
    }
    h4 {
      font-size: 1.7rem;
    }
  }
}
@media only screen and (max-width: 576px) {
  .about {
    h4 {
      font-size: 1.5rem;
    }
    p {
      font-size: 14px;
    }
  }
}
